In [4]:
import pandas as pd
from tqdm.contrib.concurrent import process_map
import pathlib
import duckdb

In [7]:
pd.read_pickle('/home/charubaiel/workflow/MLOpsini_project/src/.DH/storage/test_data')

,m2,floor,max_floor,is_max_floor,postcode,lat,long,dist_to_center,is_lot,is_jk,has_park,is_apart,n_rooms,area_obj_cnt,metro_obj_cnt,district_obj_cnt,Округ,Метро,Район
5777,62.0,10.0,11.0,False,1193.0,55.697077,37.548032,7.802769,False,False,True,False,2.0,474.0,18.0,18.0,307984.887683,415868.391746,455842.024456
2520,59.0,23.0,25.0,False,1088.0,55.602356,37.376592,22.821176,True,True,False,False,2.0,685.0,2.0,70.0,235289.045480,257896.764253,221689.412173
622,30.0,4.0,28.0,False,1112.0,55.751940,37.699094,4.883354,True,True,True,False,1.0,567.0,41.0,22.0,275756.964373,371090.113314,378910.843792
4176,35.0,12.0,17.0,False,1088.0,55.512444,37.353145,31.724648,False,True,False,False,1.0,685.0,48.0,60.0,235289.045480,231695.410835,208469.816870
4178,43.0,22.0,41.0,False,1232.0,55.754128,37.519294,6.410039,True,True,True,False,1.0,371.0,108.0,66.0,337146.665444,429799.324819,453432.850646
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,41.0,7.0,10.0,False,1050.0,55.769198,37.680899,4.118956,False,False,False,False,1.0,522.0,45.0,21.0,648254.371400,402703.915487,346404.912150
3768,45.0,1.0,9.0,False,1155.0,55.609865,37.733437,17.489441,False,False,False,False,2.0,635.0,44.0,44.0,292288.989684,270971.624351,270813.551748
1525,57.0,2.0,9.0,False,NaN,NaN,NaN,NaN,True,False,False,False,3.0,567.0,91.0,52.0,275756.964373,250831.168230,253915.100892
4687,57.0,3.0,9.0,False,1213.0,55.718518,37.435836,12.293434,False,False,False,False,3.0,789.0,72.0,36.0,380145.082943,308241.993001,364343.600531
2658,71.0,5.0,12.0,False,NaN,NaN,NaN,NaN,False,False,False,False,3.0,635.0,37.0,19.0,292288.989684,278738.785356,278716.352137

In [5]:
import mlflow

In [6]:
mlflow.models.list_evaluators()

['default']

In [2]:
with duckdb.connect('../data/protodb.db') as conn:
    df = conn.query('select * from intel.cian').df()

In [5]:
df[['url','price']].value_counts()

url                                       price
https://www.cian.ru/sale/flat/286999805/  7900000.0     9
https://www.cian.ru/sale/flat/286999306/  7400000.0     9
https://www.cian.ru/sale/flat/286998990/  32000000.0    9
https://www.cian.ru/sale/flat/286999074/  15900000.0    9
https://www.cian.ru/sale/flat/286999107/  29000000.0    9
                                                       ..
https://www.cian.ru/sale/flat/286821347/  17500000.0    1
https://www.cian.ru/sale/flat/286821342/  20000000.0    1
https://www.cian.ru/sale/flat/286821339/  18000000.0    1
https://www.cian.ru/sale/flat/286821338/  34000000.0    1
https://www.cian.ru/sale/flat/287153451/  9950000.0     1
Length: 5365, dtype: int64

In [3]:
df['datetime'] = df['datetime'].astype('datetime64[s]')

In [6]:
df.drop_duplicates(subset=['url','price']).to_parquet('../data/sample_data.parquet')

In [9]:
pd.read_parquet('../data/sample_data.parquet').shape

(6160, 32)